a {
  text-decoration: none; }

body {
  font-family: 'Lato', sans-serif; }

.header {
  font-size: 25px;
  text-align: center;
  padding: 50px; }
  .header img {
    margin: 0px auto;
    display: block;
    height: 400px;
    padding-bottom: 50px; }

.domain-list {
  padding: 50px;
  border-top: 1px solid #eee; }
  .domain-list .domain {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    background-color: white;
    text-transform: uppercase; }
    .domain-list .domain a {
      color: #333; }
      .domain-list .domain a:hover {
        color: #000; }
