{% extends 'base.html' %}
{% block content %}
	
	<div class="header">
		<img src="{{STATIC_URL}}imgs/parkeddomaingallery_logo.png">
	</div>
	<div class="domain-list" style="background-image:url({{STATIC_URL}}imgs/parked.jpg)">
		<div class="explanation">
			Remember the test screens on TV? Today's equivalent are those spammy GoDaddy ads on our parked domains. Let's make them into online galleries instead.

	<br><br>
The collection currently being shown on this parked domain blockblog.net is a carefully curated selection of the finest pieces of Art Hack Day Berlin #afterglow participants. 
		</div>
		<div class="domains">
			<div class="header">A list of domains carrying our collection:</div>
			<div class="domain"><a href="http://www.blockblog.net/">blockblog.net</a></div>
		</div>
		
	</div>

	<footer></footer>

{% endblock %}